
.panel-body {
	padding-top: 6%;
}


/*greater than ipad*/
@media (max-width: 1023px) {
    .panel-body {
        padding-top: 10%;
    }
}

/*iphoneX | iphone 6,7,8*/
@media (max-width: 550px) {
    .panel-body {
        padding-top: 15%;
    }
} 

/*iphone5/se | */
@media (max-width: 325px) {
    .panel-body {
        padding-top: 20%;
    }
} 
/*FOR TESTING PURPOSES*/
.blueguide{
	border: 1px dashed blue;
}

.blackguide{
	border: 1px dashed black;
}

.redguide{
	border: 1px dashed red;
}

.yellowguide{
	border: 1px dashed yellow;
}

.greenguide{
	border: 1px dashed green;
}

.padd-zero{
	padding: 50px;
}



