body,html{box-sizing:border-box;height:100%}.form-login .control-label,.header .dropdown-settings-content .control-label{text-align:left!important}.mvp-list .mvp-name,.mvp-list thead,
.share-list thead{font-weight:700}.mvp-list td,
.share-list .actions{vertical-align:middle!important}body{padding:0}.ng-cloak,.x-ng-cloak,[data-ng-cloak],[ng-cloak],[ng\:cloak],[x-ng-cloak]{display:none!important}.header,.header 
.navbar{
    margin-bottom:0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 91;
}
.header {
    z-index: 91;
}

.header .navbar .navbar-element{
    float:right;padding:15px!important
}
.header .navbar li>a{
  color: white;
}

.header .navbar li.hover>a{
    color: black;
    background-color: white;
}
.header .navbar li.active>a{
  border-bottom:2px solid #337ab7!important
    color: black;
    background-color: white;
}
.header .navbar li.active>a{
  border-bottom:2px solid #337ab7!important
}
.header .dropdown-users.open,.header .dropdown-users.open:focus,
.header .dropdown-users.open:hover{
    color:#555!important;
    padding-bottom:15px!important
}
.header .dropdown-users>a{
    color:#777
}
.header .dropdown-users.open>a{color:#555}.header .dropdown-users-content{width:200px;padding:10px}.header .dropdown-users-content .header{font-weight:700;margin-bottom:5px}.header .dropdown-users-content .user{margin-bottom:2px}.header .dropdown-users-content .username{display:inline-block;max-width:160px;overflow:hidden}.animate-out-hide.ng-leave.ng-leave-active,.input-group-btn-rounded>input{display:none!important}.header .dropdown-users-content .fa-circle{color:#00ad00;margin-right:3px;height:21px}.header .users-counter{font-size:43px;top:-10px;right:-10px}.header .dropdown-settings.invalid>a{color:#a94442!important}.header .dropdown-settings .form-group.invalid input{border-color:#a94442}.header .dropdown-settings.open,.header .dropdown-settings.open:focus,.header .dropdown-settings.open:hover{color:#555!important;padding-bottom:15px!important}.header .dropdown-settings>a{color:#777}.header .dropdown-settings.open>a{color:#555}.header .dropdown-settings-content{width:300px;padding:10px}.header .dropdown-settings-content .form-group{margin-bottom:0}.header .dropdown-settings .notification-time{padding:2px!important;height:auto}.footer{border:1px solid #e7e7e7;border-left:0;border-right:0;background-color:#f8f8f8;color:#777;padding:19px 5px}
.content{
    min-height:calc(100% - 114px);
    padding:10px 0;
}
.mvp, .share {
    margin-top: 100px;
}
.mvp-list{width:100%}
.mvp-list thead>tr>td:nth-child(1){width:30%}
.mvp-list thead>tr>td:nth-child(2){width:50%}
.mvp-list thead>tr>td:nth-child(3){min-width:160px}
.mvp-list td{padding:5px}
.mvp-list tr.stale{background-color:#ffe6e6!important}
.mvp-list .group-track{width:96px}
.mvp-list .group-track input{padding-right:30px}
.mvp-list .group-track .ago{position:absolute;font-size:.8em;line-height:1.05em;left:37px;top:4px;z-index:99;pointer-events:none}
.mvp-list .group-track .ago::after{content:"min. \A ago";white-space:pre}
.mvp-list .mvp-name{font-size:15px;margin-right:2px}.mvp-list .mvp-database-links{margin-right:5px}.search-filter{width:250px;margin-bottom:10px}.search-filter .rounded{border-top-right-radius:4px!important;border-bottom-right-radius:4px!important}.form-login-container{width:100%;margin-top:50px;margin-bottom:50px}.form-login{box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);background-color:#fff;border-radius:2px;max-width:350px;margin-left:auto;margin-right:auto}
.share-list .input-amount,
.share-list .input-price{border-top-left-radius:3px!important;border-bottom-left-radius:3px!important}.form-login .form-login-header{height:4px}.form-login .form-login-header.valid{background-color:#5cb85c}.form-login .form-login-header.invalid{background-color:#a94442}.form-login .form-login-content{padding:15px}.share-list-ontainer{width:100%;overflow-x:auto}.share-list{margin:0}.share-list thead>tr>td:nth-child(1),.share-list thead>tr>td:nth-child(2){width:30%;min-width:240px}.share-list thead>tr>td:nth-child(3),.share-list thead>tr>td:nth-child(4){width:15%}.share-list thead>tr>td:nth-child(5){min-width:100px}.share-list tr.fade2{background-color:#edf7e9!important;color:#888}.share-list hr{border-color:#ddd;margin-bottom:5px;margin-top:5px}.share-list .items,.share-list .users{margin-bottom:4px}.share-list .added{cursor:default}.share-list .input-amount{width:45px;margin-right:-1px}.share-list .input-price{width:52px;margin-left:-1px}.share-list .input-group{width:100%}.share-list .actions>button{margin-right:3px;margin-bottom:3px}.dropdown-filter{position:fixed;margin-top:-6px;margin-right:-1px;margin-left:-1px}.dropdown-filter-spacer{margin-bottom:18px}.scrollable-menu{height:auto;max-height:200px;overflow-x:hidden}.input-group-btn-rounded>.input-group-btn>button:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px}.input-group-btn-rounded>.input-group-btn>button:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px}.loading-content{padding-top:20px;padding-bottom:20px}.strike-through{text-decoration:line-through}.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{background-color:#ffe6e6}
